---
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <BaseHead title="Privacy Policy" description="Privacy Policy" />
  </head>

  <body class="flex flex-col min-h-full">
    <main class="flex-1">
      <div
        class="flex flex-col md:flex-row items-center justify-center my-8 min-h-[400px]"
      >
        <div class="flex-1 px-4">
          <h1 class="font-bold leading-tight mb-2">Privacy Policy</h1>
          <p class="text-xl lg:text-2xl">
            My applications and services do not collect any data.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
